.firstLetter{
    background: #bd3030;
    border-radius: 100%;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 2.2;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.diplay-inline-block {
    display: inline-block;
}