  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tradeCalls">
        <ion-icon name="trending-up"></ion-icon>
        <ion-label>Trade Calls</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
  
      <ion-tab-button tab="learning">
        <ion-icon name="school"></ion-icon>
        <ion-label>Learning</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="blogs">
        <ion-icon name="create"></ion-icon>
        <ion-label>Blogs</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>My Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
